{% extends "base.html" %}
{% block content %}
<div class="nm">
        <div class="card">
            <div class="card-header"><h2>เปลี่ยนรหัสผ่าน</h2></div>
            <div class="card-body">
                <form method="POST" action="{% url 'changePassword' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="oldPassword">รหัสผ่านเก่า :</label>
                        <input type="password" class="form-control ml-3" id="oldPassword" 
                            name="oldPassword" value="{{oldPassword}}">
                    </div>
                    <div class="form-group">
                        <label for="newPassword">รหัสผ่านใหม่ :</label>
                        <input type="password" class="form-control ml-3" id="newPassword" 
                            name="newPassword" value="{{newPassword}}">
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">ยืนยันรหัสผ่าน :</label>
                        <input type="password" class="form-control ml-3" id="confirmPassword" 
                            name="confirmPassword" value="{{confirmPassword}}">
                    </div>
                    <button type="submit" class="btn btn-primary">ยืนยัน</button>
                    <a type="button" class="btn btn-secondary" href="{% url 'profile' %}">ยกเลิก</a>
                </form>
            </div>
        </div> 
</div>
{% endblock %}