{% extends "base.html" %}
{% block content %}
    <form method="POST" action="{% url 'detailRestaurant' id=id %}" enctype="multipart/form-data" >

<div class="container-fluid">
    {% for i in res_id %}
    <div class="row mt-1 bg-light">
        <div class="col-md">
                <div class="m-3 bg-light">
                    {% if i.picture_restaurant %}
                        <div class="mt-1">
                            <center><img src="{{ i.picture_restaurant.url }}" width="200" height="150"></center>
                        </div>
                    {% endif %}
               </div>
        </div>
    <div class="col-md"><br>
        <h6>ชื่อร้านอาหาร: {{ i.restaurant_name }}</h6>
        <h6>รหัสร้านอาหาร: {{ i.restaurant_id }}</h6>
        <h6>Open-Time: {{ i.open_time }}</h6>
        <h6>Close-Time: {{ i.close_time }}</h6>
        <h6>ประเภทของร้าน: {{ i.types }}</h6>
        <h6>เจ้าของร้าน: {{ i.owner }}</h6>
        <div class="row-span mt-3">
            {% if user.is_authenticated %}
                <a type="button" class="btn btn-info" href="{% url 'manageOrder' %}">จัดการออเดอร์</a>
                <a type="button" class="btn btn-info" >สถานะออเดอร์</a>
            {% else  %}
                <a type="button" class="btn btn-info" href="{% url 'detailRestaurant' id=id %}">แสดงรายการอาหาร</a>

            {% endif %}        
        </div>
    </div>
</div>
{% endfor %}

{% endblock %} 