{% extends "base.html" %} 
{% block content %}
{% csrf_token %}
<body>
    <div class="container">
    hello
        {% for i in restaurant %}
            <div class='border rounded pl-5'>
                <h2>{{ i.restaurant_name }}</h2>
                <div class="row bg-light">
                    {% for j in filter %}
                    {% if j == i.restaurant_id %}
                        <div class="col-3 m-2">
                            <h4>{{ i.picture_restaurant }}</h4><img src="{{ j.picture_restaurant.url }}" width="200" height="150">
                            <br>
                            <button type="button" class="btn btn-link m-1"> รายละเอียด </button>
                        </div>
                    {% endif %} 
                    {% endfor %}
                </div>
            </div>
        </div> 
        {% endfor %}
    </div>
</body>
{% endblock %}