{% extends "base.html" %} 
{% block content %}

<form method="POST" action="{% url 'homepage' %}">
     {% csrf_token %}

<body>
    <div class="container row-12">
        {% for i in check %}
            <div class="col-3 mt-3 bg-light">
                <h4><center>{{ i.restaurant_name }}</center></h4>
                <center><button type="button" class="btn btn-link" href="{% url 'editRestaurant' id=i.restaurant_id %}"> รายละเอียด </button></center>
                <div class="row bg-light">
                    {% for j in restaurant %}
                        {% if j == i.restaurant_id %}
                            <div class="col-3 m-2">
                                <h4>{{ i.picture_restaurant }}</h4><img src="{{ j.picture_restaurant.url }}" width="200" height="150">
                                <br>
                                <center><button type="button" class="btn btn-link"> รายละเอียด </button></center>
                            </div>
                        {% endif %} 
                    {% endfor %}
                </div>
            </div>
        </div> 
        {% endfor %}
    </div>
</body>
{% endblock %}