{% extends "base.html" %}
{% block content %}

<form method="POST" action="{% url 'homepage' %}" enctype="multipart/fo rm-data">
    {% csrf_token %}

    <body>
        <div class="container-fluid">
            <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'homepage' %}">
                <div class="row mb-5 mt-4">
                    <div class="col-8"></div>
                    <div class="col-3 ">
                        <input class="form-control" type="text" placeholder="ค้นหาร้านอาหาร" id="search" name="search"
                            value="{{search}}"">
                    </div>
                    <div class=" col-1">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="container-fluid" id="mySearch">
            <div class="row">
                {% for i in check %}
                <div class="col-2">
                    <div class="card" style="width: 18rem;">
                        {% if i.picture_restaurant %}
                        <center><img class="card-img-top w-75 h-75" src="{{ i.picture_restaurant.url }}"
                                alt="Card image cap"></center>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">
                                <center>{{ i.restaurant_name }}</center>
                            </h5>
                            {% if user.is_authenticated %}
                            <center><a type="button" class="btn btn-link"
                                    href="{% url 'detailRestaurant' id=i.restaurant_id %}"> หน้าร้าน </a></center>
                            {% else %}
                            <center><a type="button" class="btn btn-link"
                                    href="{% url 'detailRestaurant' id=i.restaurant_id %}"> ดูรายละเอียดร้าน </a>
                            </center>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
    </body>

    <script>
        $(document).ready(function () {
            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#mySearch div").filter(function () {
                    $(this).toggle($((this).text().toLowerCase().indexOf(value) > -1)
    });
            });
        });
    </script>

    {% endblock %}