{% extends "base.html" %}
{% block content %}
    <form method="POST" action="{% url 'addFood' id=id %}" class="mr" enctype="multipart/form-data" >
     {% csrf_token %}
     <h2>เพิ่มรายการอาหาร</h2><br>
     {{ form.non_field_errors }}
        <div class="form-group">
            <label for=" {{form.food_name.id_for_label}} ">{{ form.food_name.label }}</label>
            {{ form.food_name }}
            {{ form.food_name.errors }}
        </div>

        <div class="form-group ">
            <label for=" {{form.price.id_for_label}} ">{{ form.price.label }}</label>
            {{ form.price}}
            {{ form.price.errors }}
        </div>
        <label for="inputType">รูปอาหาร</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" >Upload Picture</span>
            </div>
            <div class="custom">
                <label class="custom-file-label" for="{{form.picture.id_for_label}}">Choose file</label>
            </div> 
            {{ form.picture}}
            
        </div>

        </div><br><button type="submit" class="btn btn-primary">บันทึก</button><br><br><br>
        <table class="table">
            <thead>
                <tr>
                <th scope="col"><center>รูปอาหาร</center></th>
                <th scope="col"><center>ชื่ออาหาร</center></th>
                <th scope="col"><center>Price</center></th>
                <th scope="col"><center>จัดการรายการอาหาร</center></th>
                </tr>
            </thead>
            <tbody>
            {% for i in food %}
                <tr>
                    <td><center>{% if i.picture %}<img src="{{ i.picture.url }}">{% endif %}</center></td>
                    <td><center>{{ i.food_name }}</center></td>
                    <td><center>{{ i.price }} Baht</center></td>
                    <td><center>
                        <a type="button" class="btn btn-warning" href="{% url 'editFood' res_id=id food_id=i.food_id%}">แก้ไขร้านอาหาร</a>
                        <a type="button" class="btn btn-danger" href="{% url 'deleteFood' res_id=id food_id=i.food_id %}">ลบร้านอาหาร</a></center>
                    </center></td> 
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </form>
    </div>
    
               
{% endblock %}
