{% extends "base.html" %}
{% block content %}
    <form method="POST" action="{% url 'addRestaurant' %}" class="fr" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
        <h2>เพิ่มร้านอาหาร</h2><br>
            <div class="form-group">
                <label for=" {{form.restaurant_name.id_for_label}} ">{{ form.restaurant_name.label }}</label>
                {{ form.restaurant_name }}
                {{ form.restaurant_name.errors }}
            </div>
            <div class="form-group">
                <label for="inputType">ประเภทร้านอาหาร</label>
                <input type="text" class="form-control" name="type_name" id="inputType">
            </div>
            <div class="form-group">
                <label for=" {{form.id_for_label}} ">{{ form.open_time.label }}</label>
                {{ form.open_time }}
                {{ form.open_time.errors }}
            </div>
            <div class="form-group">
                <label for=" {{form.id_for_label}} ">{{ form.close_time.label }}</label>
                {{ form.close_time}}
                {{ form.close_time.errors }}
            </div>
            <label for="inputType">รูปร้านอาหาร</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" >Upload Picture</span>
                </div>
                <div class="custom-file">
                    {{ form.picture_restaurant}}
                    <label class="custom-file-label" for="{{form.picture_restaurant.id_for_label}}">Choose file</label>
                </div> 
                {{ form.picture_restaurant.errors}}
            </div><br>
       <button type="submit" class="btn btn-primary">บันทึก</button><br><br><br>
       <table class="table">
            <thead>
                <tr>
                <th scope="col"><center>รูปร้านอาหาร</center></th>
                <th scope="col"><center>ชื่อร้านอาหาร</center></th>
                <th scope="col"><center>จัดการร้านอาหาร</center></th>
                </tr>
            </thead>
            <tbody>
            {% for i in restaurant %}
                <tr>
                    <td><center>{% if i.picture_restaurant %} <img src="{{ i.picture_restaurant.url }}">{% endif %}</center></td>
                    <td><center>{{ i.restaurant_name }}</center></td>
                    <td><center>
                        <a type="button" class="btn btn-info" href="{% url 'addFood' i.restaurant_id %}">จัดการรายการอาหาร</a>
                        <a type="button" class="btn btn-warning" href="{% url 'editRestaurant' id=i.restaurant_id %}">แก้ไขร้านอาหาร</a>
                        <a type="button" class="btn btn-danger" href="{% url 'deleteRestaurant' id=i.restaurant_id %}">ลบร้านอาหาร</a></center>
                    </td> 
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </form>      
{% endblock %}
