{% extends "base.html" %}
{% block content %}
    <div class="nm">
        <h1>รายการอาหาร</h1>
        <div class="text-right">
            <a type="button" class="btn btn-outline-success" href="{% url 'addFood' res_id=id%}">เพิ่มอาหาร</a>
            <a type="button" class="btn btn-outline-dark" href="{% url 'management'%}">ย้อนกลับ</a> 
        </div>
        <br>
        <table class="table">
            <thead>
                <tr>
                <th scope="col"><center>รูปอาหาร</center></th>
                <th scope="col"><center>ชื่ออาหาร</center></th>
                <th scope="col"><center>Price</center></th>
                <th scope="col"><center>จัดการรายการอาหาร</center></th>
                </tr>
            </thead>
            <tbody>
            {% for i in food %}
                <tr>
                    <td><center>{% if i.picture %}<img src="{{ i.picture.url }}">{% endif %}</center></td>
                    <td><center>{{ i.food_name }}</center></td>
                    <td><center>{{ i.price }} Baht</center></td>
                    <td><center>
                        <a type="button" class="btn btn-outline-warning" href="{% url 'editFood' res_id=id food_id=i.food_id%}">แก้ไขอาหาร</a>
                        <a type="button" class="btn btn-outline-danger" href="{% url 'deleteFood' res_id=id food_id=i.food_id %}">ลบอาหาร</a></center>
                    </center></td> 
                </tr>
            {% endfor %}
            </tbody>
            </table>
    </div>         
{% endblock %}
