{% extends "base.html" %}
{% block content %}
    <div class="nm">
            <h2>ร้านอาหาร</h2>
            <div class="text-right"><a type="button" class="btn btn-outline-success" href="{% url 'addRestaurant'%}">เพิ่มร้านอาหาร</a> </div>
       <br>
       <table class="table">
            <thead>
                <tr>
                <th scope="col"><center>รูปร้านอาหาร</center></th>
                <th scope="col"><center>ชื่อร้านอาหาร</center></th>
                <th scope="col"><center>จัดการร้านอาหาร</center></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for i in restaurant %}
                    <td><center>{% if i.picture_restaurant %} <img src="{{ i.picture_restaurant.url }}">{% endif %}</center></td>
                    <td><center>{{ i.restaurant_name }}</center></td>
                    <td><center>
                        <a type="button" class="btn btn-info" href="{% url 'managementFood' id=i.restaurant_id %}">รายการอาหาร</a>
                        <a type="button" class="btn btn-warning" href="{% url 'editRestaurant' id=i.restaurant_id %}">แก้ไขร้านอาหาร</a>
                        <a type="button" class="btn btn-danger" href="{% url 'deleteRestaurant' id=i.restaurant_id %}">ลบร้านอาหาร</a></center>
                    </td> 
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </form>      
{% endblock %}
