{% extends "base.html" %}
{% block content %}
<div class="nm">


    <div class="card">
    <center><div class="card-header">
            โปรไฟล์
        </div></center>
        
        <div class="card-body">
            <p class="card-text">
                ชื่อผู้ใช้งาน: {{ user.username }} <br>
                ชื่อ: {{ user.first_name }}  <br>
                นามสกุล: {{ user.last_name }} <br>
                อีเมล: {{ user.email }} <br>
                {% if user.owner %}
                สถานะ: เจ้าของร้าน
                {% elif user.customer %}
                สถานะ: ลูกค้า
                {% else %}
                สถานะ: แอดมิน
                {% endif %}
            </p>
            <a href="{% url 'editProfile'%}" class="card-link">แก้ไขโปรไฟล์</a>
            <a href="{% url 'changePassword'%}" class="card-link">เปลี่ยนรหัสผ่าน</a>
        </div>
    </div>

</div>    

{% endblock %}
