{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% comment %} <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <style>
    .nm{
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 50px;
    }
    .card{
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 100px;
    }
    body{
      margin-bottom: 100px;
    }
    .card-img-top{
      height:230px;
      width:230px;
    }
    img{
      width:200px;
      height:200px;
    }
    .card{
      margin-top:10px;
      margin-bottom:10px;
      padding:10px;
    }
    tr.hide-table-padding td {
      padding: 0;
    }
    .img_bar {
      width:5%;
      height:90%;
      background-color:transparent;
    }
    </style>
    <title>KMITL Restaurent</title>
</head>
<body>
    {% if user.is_authenticated %}
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01" >
          <div class="dropdown" style="width: fit-content;">
              {% load static %}
              <img src="{% static 'base_img/bar.png' %}" class="img_bar" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              <a class="navbar-brand" href="{% url 'homepage' %}"> KMITL Restaurant</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'management' %}">จัดการร้านอาหาร</a>
              </div>
          </div>
        <div style='z-index: 10;  position: absolute; right: 5%; display: inline-block; text-align: right'>
          <a href="{% url 'profile' %}">โปรไฟล์</a> / <a href="{% url 'logout' %}">ออกจากระบบ</a>
          <img src="{% static 'base_img/maket.png' %}" class="img_bar" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <div class="dropdown-menu dropdown-menu-right float-right">
                {% if order and order_lists %}
                  {% for ol in order_lists %}
                  <div class="dropdown-item">ชื่อเมนู:   {{ol.food_name}}   จำนวน:   {{ol.unit}}    ราคา:   {{ol.price}}   <a class='btn btn-danger' href='{% url "deleteOrderList" id=id order_id=order.order_id list_no=ol.id %}'>x</a></div>
                  {% endfor %}
                  <center><div>ราคารวม: {{order.total_price}}</div></center>
                  <center><a class='btn btn-success' href='{% url "createOrder" order.order_id %}' >ยืนยันรายการ</a> <a class='btn btn-danger' href='{% url "deleteOrder" order_id=order.order_id res_id=id %}'>ยกเลิกรายการ</a></center>
                {% else %}
                  <div class="dropdown-item"><center>โปรดเลือกซื้ออาหาร</center></div>
                {% endif %}

                
          </div>
        <div>
        </div>
      </nav>
    {% else %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01" >
          <div style="width: fit-content;">
              {% load static %}
              <img src="{% static 'base_img/bar.png' %}" class="img_bar" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              <a class="navbar-brand" href="{% url 'homepage' %}"> KMITL Restaurant</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'management' %}">จัดการร้านอาหาร</a>
                <a class="dropdown-item" href="{% url 'login' %}">จัดการรายการอาหาร</a>
              </div>
          </div>
        <div style='z-index: 10;  position: absolute; right: 5%; display: inline-block; text-align: right'>
          <a href="#" class='dropdown-toggle' data-toggle="dropdown">สมัครสมาชิก</a> / <a href="{% url 'login' %}">ล็อคอิน</a> 
          <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'registerCustomer' %}">สำหรับลูกค้า</a>
              <a class="dropdown-item" href="{% url 'registerOwner' %}">สำหรับเจ้าของร้านอาหาร</a>
          </div>
        <div>
        </div>
      </nav>
      {% endif %}
  {% block content %}
  {% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>